<launch>
  <param name="bird_L_OJO_1_description" command="$(find xacro)/xacro --inorder '$(find rotors_gazebo)/urdf/bird_L_OJO_1.urdf.xacro'" />

  <node name="spawn_bird_L_OJO_1" pkg="gazebo_ros" type="spawn_model" args="-param bird_L_OJO_1_description -urdf -model bird_L_OJO_1" respawn="false" />
</launch>